@import '~styles/colors.scss';

.register-form {
  display: flex;
  flex-flow: column;
  height: calc(100% - 60px);

  .promotions,
  .policy {
    display: flex;
    align-items: center;

    & > span {
      margin-left: 22px;
      font-size: 13px;
      line-height: 19px;
    }
  }

  .divider {
    width: 30px;
    height: 1px;
    margin: 20px 0 20px 48px;
    background: $main;
  }

  button {
    margin-top: auto;
  }
}
