@import '~styles/colors';
@import '~styles/variables';

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid $main;
  border-radius: 2px;
  position: relative;

  &.checked {
    background: $main;
  }

  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;

    &:checked + svg path {
      fill: $white;
      stroke: $white;
    }
  }

  svg path {
    stroke-width: 2px;
    fill: transparent;
    stroke: transparent;
  }
}
