// GENERAL

$app-background: #FFFCF9;
$white: #fff;
$main: #3F3D56;
$black: #1E1E1E;
$red: #B61D23;
$grey: #707070;
$light-blue: #F9F9F9;
$medium-blue: #E3E8F4;
$disabled-font: #A1A1A1;

// SHADOWS

$bold-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
$thin-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
