@import './colors';
@import './variables';

html {
  scroll-behavior: smooth;
}

body {
  background: $app-background;
  font-family: $f-montserrat, 'sans-serif';
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }

  #root {
    min-height: 100vh;
  }

  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  b {
    font-weight: $f-regular;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol,
  figure {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  button,
  input {
    &:focus {
      outline: none;
    }
  }

  button {
    font-family: $f-montserrat, 'sans-serif';
    background: none;
    border: none;
    display: block;
    padding: 0;
    cursor: pointer;

    &:disabled {
      cursor: initial;
    }
  }

  h5 {
    font-size: 22px;
  }
}
