@import './variables.scss';

body {
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  b {
    font-weight: $f-regular;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol,
  figure {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  button,
  input {
    &:focus {
      outline: none;
    }
  }

  button {
    font-family: $f-montserrat, 'sans-serif';
    background: none;
    border: none;
    display: block;
    padding: 0;
    cursor: pointer;

    &:disabled {
      cursor: initial;
    }
  }
}
