// FONT WEIGHTS

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semi-bold: 600;
$f-bold: 700;

// FONT FAMILIES

$f-montserrat: 'Montserrat';

// FONT SIZES

$fs-medium: 16px;

// TIME

$fast: 0.3s;