@import '~styles/colors.scss';
@import '~styles/variables.scss';

.aside-wrapper {
  display: grid;
  grid-template-rows: auto minmax(500px, 1fr) auto auto;
  padding: 1.5% 6.5% 1% 6.5%;
  background: $main;
  color: $white;
  width: 40%;

  .logo {
    display: flex;
    justify-content: center;
  }

  .content {
    margin-top: 30px;
    padding: 7%;
    border-radius: 4px;
    box-shadow: $thin-shadow;
    background: $white;
    color: $main;
    position: relative;
    overflow: hidden;

    h3 {
      font-size: 22px;
      margin-bottom: 35px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px 0 70px 0;

    a {
      font-size: 14px;
    }

    .divider {
      background: $white;
      height: 18px;
      width: 1px;
      display: block;
      margin: 0 15px;
    }
  }

  .copyright {
    font-size: 14px;
    font-weight: $f-light;
    text-align: center;
    margin-top: auto;
  }
}
