@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.aside-wrapper {
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2% 6.5%;
  background: $main;
  position: fixed;
  top: 0;
  right: 0;
  color: $white;
  height: 100vh;

  .content {
    display: flex;
    flex-flow: column;
    margin: 6% 0 3% 0;
    padding: 6%;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: $thin-shadow;
    background: $white;
    color: $main;

    h3 {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a {
      font-size: 14px;
    }

    .divider {
      background: $white;
      height: 18px;
      width: 1px;
      display: block;
      margin: 0 15px;
    }
  }

  .copyright {
    margin-top: 15%;
    font-size: 14px;
    font-weight: $f-light;
  }
}
