@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.btn {
  padding: 8px 24px;
  font-weight: $f-medium;
  font-size: 14px;
  min-height: 44px;
  border-radius: 2px;

  span {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // VARIANTS //

  &-circled {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    box-shadow: $thin-shadow;

    &::before {
      background: $main;
    }
  }

  &-default {
    background: $main;
    color: $white;
    text-transform: uppercase;
    border-radius: 4px;

    &:not(:disabled)::before {
      background: $dark-main;
    }

    &:disabled {
      background: $disabled-bg;
    }
  }

  &-outlined-red-white {
    border: 1px solid $light-red;
    color: $white;
    box-shadow: $thin-shadow;
    text-shadow: $text-shadow;
    font-size: 20px;
    font-weight: $f-light;
    padding: 14px 28px;
    max-width: 300px;

    &::before {
      background: $dark-backdrop;
    }
  }

  // END VARIANTS //

  // --- ANIMATIONS --- //

  &-animated-background {
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      transform: translateX(-100%);
      transition: $fast $transition transform;
      will-change: transform;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
      left: 0;
    }

    &:hover::before {
      transform: translate(0);
    }
  }

  // --- END ANIMATIONS --- //
}
