@import '~styles/colors';
@import '~styles/media';
@import '~styles/variables';

.form-field {
  display: flex;
  flex-flow: column;
  color: $main;
  position: relative;

  .title {
    font-size: 0.9rem;
    font-weight: $f-medium;
  }

  .input-wrapper {
    border-bottom: 1px solid $grey;
    display: flex;
    margin-top: 2%;
    padding-bottom: 1.5%;
    position: relative;
    overflow: hidden;

    &.invalid {
      border-bottom-color: $red;

      .overlay {
        background: $red;
      }

      .icon {
        color: $red;
      }
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $main;
      height: 1px;
      transform: translateX(-101%);
      transition: $fast transform $transition;
      will-change: transform;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
    }

    input {
      width: 100%;
      font-size: 0.9rem;
      height: 30px;
      padding: 0 5% 0 1%;
      border: none;
      font-family: inherit;

      &:focus + .overlay {
        transform: translateX(0);
      }

      &::placeholder {
        font-size: $f-light;
      }
    }
  }

  .validation-message {
    color: $red;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
